h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.quadrato {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.giallo {
  background-color: yellow;
}

.rosso {
  background-color: red;
}

.blu {
  background-color: blue;
}